body {
    margin: 0;
    background-color: #72c1e0;
}

#container {
    visibility: hidden;
    margin-top: 30vh;
}

#route {
    position: absolute;
    width: 500vw;
    overflow: visible;
}

.tree {
    fill: green;
    stroke: #1c5a1c;
    stroke-width: 6;
}